{% extends "coins/layout/base.html" %}
{% block content %}
{% load staticfiles %}
<div class="row">
    <!-- left pane start -->
    <div class="col-md-4 col-sm-12 p-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><img src="{% static '' %}img/twitter.png"><img src="{% static '' %}img/send.png"><img src="{% static '' %}img/w.png"></h5>
            <h6 class="card-subtitle mb-2 text-muted token-subtitle">Symbol: GNO</h6>
            <h6 class="card-subtitle mb-2 text-muted token-subtitle">OxB07ec2c2</h6>
            <h6 class="card-subtitle mb-2 text-muted token-subtitle">Followers: 1234</h6>

            <button type="button" class="btn btn-outline-success card-btn">Protocol</button>
            <button type="button" class="btn btn-outline-success card-btn">Payment</button>
            <button type="button" class="btn btn-outline-success card-btn">Exchange</button>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-body">
            <img src="{% static '' %}img/graph.png">
            <h5 class="card-title">Market Pulse</h5>
            <table class="table mt-3 market-table">
                <tbody>
                  <tr>
                    <td>Current</td>
                    <td>1.1234568</td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td>234.11</td>
                   </tr>
                  <tr>
                    <td>Volume</td>
                    <td>0.987656</td>
                  </tr>
                   <tr>
                    <td>ICO Price</td>
                    <td>11111</td>
                   </tr>
                   <tr>
                    <td>Total Supply</td>
                    <td>1234</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-body">
            <img src="{% static '' %}img/3star.png">
            <h5 class="card-title">Rank List</h5>
            <table class="table mt-3 market-table">
                <tbody>
                  <tr>
                    <td>Community Rating</td>
                    <td>22</td>
                  </tr>
                  <tr>
                    <td>Increase Holder</td>
                    <td>22</td>
                   </tr>
                  <tr>
                    <td>Active Address</td>
                    <td>22</td>
                  </tr>
                   <tr>
                    <td>Community Activity</td>
                    <td>22</td>
                   </tr>

                </tbody>
              </table>
          </div>
        </div>
    </div>
    <!-- right pane start -->
    <div class="col-md-8 col-sm-12">
        <ul class="nav nav-tabs tokentab-color">
            <li class="nav-item">
              <a class="nav-link navlink-color active" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navlink-color" href="#hot">Hot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navlink-color" href="#pinned">Pinned</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navlink-color" href="#current">Current</a>
            </li>
        </ul>




        <!-- Tab panes -->
          <div class="tab-content">
            <div class="container tab-pane mt-3 pl-0 pr-0 active">
                <div class="card ">
                  <div class="card-body">
                   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                   <img class="card-img-top" src="{% static '' %}img/lineBg.png" alt="Card image">
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                  </div>
                </div>
            </div>
            <div id="about" class="container tab-pane mt-3">
                <h1 class="rech1 mb-4">Recommendments</h1>
                <div class="card about-block mr-4 mb-3" style="width:18em;">
                  <div class="card-body p-0">
                    <h5 class="card-title left-img mr-3 mb-0"></h5>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">TOKEN NAME</h6>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">Followers: 1234</h6>
                  </div>
                   <div class="card-body p-0 mt-3">
                     <p class="card-text">
                        <button type="button" class="btn btn-outline-success about-btn">Tag 1</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 2</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 3</button>
                     </p>
                    </div>
                </div>

                <div class="card about-block mb-3" style="width:18em;">
                  <div class="card-body p-0">
                    <h5 class="card-title left-img mr-3 mb-0"></h5>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">TOKEN NAME</h6>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">Followers: 1234</h6>
                  </div>
                   <div class="card-body p-0 mt-3">
                     <p class="card-text">
                        <button type="button" class="btn btn-outline-success about-btn">Tag 1</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 2</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 3</button>
                     </p>
                    </div>
                </div>

                <div class="card about-block mr-4 mb-3" style="width:18em;">
                  <div class="card-body p-0">
                    <h5 class="card-title left-img mr-3 mb-0"></h5>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">TOKEN NAME</h6>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">Followers: 1234</h6>
                  </div>
                   <div class="card-body p-0 mt-3">
                     <p class="card-text">
                        <button type="button" class="btn btn-outline-success about-btn">Tag 1</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 2</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 3</button>
                     </p>
                    </div>
                </div>

                <div class="card about-block mb-3" style="width:18em;">
                  <div class="card-body p-0">
                    <h5 class="card-title left-img mr-3 mb-0"></h5>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">TOKEN NAME</h6>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">Followers: 1234</h6>
                  </div>
                   <div class="card-body p-0 mt-3">
                     <p class="card-text">
                        <button type="button" class="btn btn-outline-success about-btn">Tag 1</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 2</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 3</button>
                     </p>
                    </div>
                </div>

                <div class="card about-block mr-4 mb-3" style="width:18em;">
                  <div class="card-body p-0">
                    <h5 class="card-title left-img mr-3 mb-0"></h5>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">TOKEN NAME</h6>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">Followers: 1234</h6>
                  </div>
                   <div class="card-body p-0 mt-3">
                     <p class="card-text">
                        <button type="button" class="btn btn-outline-success about-btn">Tag 1</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 2</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 3</button>
                     </p>
                    </div>
                </div>

                <div class="card about-block mb-3" style="width:18em;">
                  <div class="card-body p-0">
                    <h5 class="card-title left-img mr-3 mb-0"></h5>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">TOKEN NAME</h6>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">Followers: 1234</h6>
                  </div>
                   <div class="card-body p-0 mt-3">
                     <p class="card-text">
                        <button type="button" class="btn btn-outline-success about-btn">Tag 1</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 2</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 3</button>
                     </p>
                    </div>
                </div>

                <div class="card about-block mr-4 mb-3" style="width:18em;">
                  <div class="card-body p-0">
                    <h5 class="card-title left-img mr-3 mb-0"></h5>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">TOKEN NAME</h6>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">Followers: 1234</h6>
                  </div>
                   <div class="card-body p-0 mt-3">
                     <p class="card-text">
                        <button type="button" class="btn btn-outline-success about-btn">Tag 1</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 2</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 3</button>
                     </p>
                    </div>
                </div>

                <div class="card about-block mb-3" style="width:18em;">
                  <div class="card-body p-0">
                    <h5 class="card-title left-img mr-3 mb-0"></h5>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">TOKEN NAME</h6>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">Followers: 1234</h6>
                  </div>
                   <div class="card-body p-0 mt-3">
                     <p class="card-text">
                        <button type="button" class="btn btn-outline-success about-btn">Tag 1</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 2</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 3</button>
                     </p>
                    </div>
                </div>

                <div class="card about-block mr-4 mb-3" style="width:18em;">
                  <div class="card-body p-0">
                    <h5 class="card-title left-img mr-3 mb-0"></h5>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">TOKEN NAME</h6>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">Followers: 1234</h6>
                  </div>
                   <div class="card-body p-0 mt-3">
                     <p class="card-text">
                        <button type="button" class="btn btn-outline-success about-btn">Tag 1</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 2</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 3</button>
                     </p>
                    </div>
                </div>

                <div class="card about-block mb-3" style="width:18em;">
                  <div class="card-body p-0">
                    <h5 class="card-title left-img mr-3 mb-0"></h5>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">TOKEN NAME</h6>
                    <h6 class="card-subtitle mb-2 text-muted token-subtitle">Followers: 1234</h6>
                  </div>
                   <div class="card-body p-0 mt-3">
                     <p class="card-text">
                        <button type="button" class="btn btn-outline-success about-btn">Tag 1</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 2</button>
                        <button type="button" class="btn btn-outline-success about-btn">Tag 3</button>
                     </p>
                    </div>
                </div>
            </div>

            <!-- 2nd tab start -->
            <div id="hot" class="container tab-pane mt-3"><br>
                <div class="media p-3">
                    <img src="{% static '' %}img/hot-roundimg.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                      <h6>BY JOHN DOE <small>/ 25 jul 2018</small></h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <div class="media">
                        <img src="{% static '' %}img/hot-roundimg.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                        <div class="media-body">
                          <h6>BY JANE SMITH <small>/ 25 jul 2018</small></h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                      </div>
                      <div class="media">
                        <img src="{% static '' %}img/hot-roundimg.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                        <div class="media-body">
                          <h6>BY JANE SMITH <small>/ 25 jul 2018</small></h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                      </div>
                      <div class="media">
                        <img src="{% static '' %}img/hot-roundimg.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                        <div class="media-body">
                          <h6>BY JANE SMITH <small>/ 25 jul 2018</small></h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="media border p-3">
                    <img src="{% static '' %}img/hot-roundimg.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                      <h6>BY JOHN DOE <small>/ 25 jul 2018</small></h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <img class="card-img-top" src="{% static '' %}img/lineBg.png" alt="Card image">
                    </div>
                </div>
                <p class="view-all p-4">VIEW ALL <img src="{% static '' %}img/view-arrow.png"></p>
            </div>


             <div id="pinned" class="container tab-pane fade mt-3"><br>
                <div class="media p-3">
                    <img src="{% static '' %}img/hot-roundimg.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                      <h6>BY JOHN DOE <small>/ 25 jul 2018</small><img class="red-pin" src="{% static '' %}img/red-pin.png"></h6>
                      <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <p class="view-all">READ MORE <img src="{% static '' %}img/view-arrow.png"></p>
                    </div>
                </div>

                <div class="media border p-3">
                    <img src="{% static '' %}img/hot-roundimg.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                      <h6>BY JOHN DOE <small>/ 25 jul 2018</small><img class="red-pin" src="{% static '' %}img/red-pin.png"></h6>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <img class="card-img-top" src="{% static '' %}img/lineBg.png" alt="Card image">
                      <p class="view-all">READ MORE <img src="{% static '' %}img/view-arrow.png"></p>
                    </div>
                </div>

                <div class="media border p-3">
                    <img src="{% static '' %}img/hot-roundimg.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                      <h6>BY JOHN DOE <small>/ 25 jul 2018</small><img class="red-pin" src="{% static '' %}img/red-pin.png"></h6>
                      <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <p class="view-all">READ MORE <img src="{% static '' %}img/view-arrow.png"></p>
                    </div>
                </div>

            </div>
            <div id="current" class="container tab-pane fade mt-3"><br>
                    <div class="media p-3">
                        <img src="{% static '' %}img/hot-roundimg.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                        <div class="media-body">
                          <h6>BY JOHN DOE <small>/ 25 jul 2018</small></h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          <div class="media">
                            <img src="{% static '' %}img/hot-roundimg.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                            <div class="media-body">
                              <h6>BY JANE SMITH <small>/ 25 jul 2018</small></h6>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>
                          <div class="media">
                            <img src="{% static '' %}img/hot-roundimg.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                            <div class="media-body">
                              <h6>BY JANE SMITH <small>/ 25 jul 2018</small></h6>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>

                        </div>
                    </div>

                    <div class="media border p-3">
                        <img src="{% static '' %}img/hot-roundimg.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                        <div class="media-body">
                          <h6>BY JOHN DOE <small>/ 25 jul 2018</small></h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                    <div class="media border p-3">
                        <img src="{% static '' %}img/hot-roundimg.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                        <div class="media-body">
                          <h6>BY JOHN DOE <small>/ 25 jul 2018</small></h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                    <div class="media p-3">
                        <img src="{% static '' %}img/hot-roundimg.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                        <div class="media-body">
                          <h6>BY JOHN DOE <small>/ 25 jul 2018</small></h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          <div class="media p-3">
                            <img src="{% static '' %}" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                            <div class="media-body">
                              <h6>BY JANE SMITH <small>/ 25 jul 2018</small></h6>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>

                        </div>
                    </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}