{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  <title>Tokenjar</title>
</head>
<body>

<div class="row">
  <div class="column"><img src="" width="200px"></div>
  <div class="column">
    <div class="demo-button-container">
      <h1>Telegram Smart Contract</h1>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span class="footer-text"><a href="https://content-blockchain.org/"
                                 target="_blank">© 2018 TokenJar Project</a></span>
  </div>
</footer>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>
